<div
  class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(68,20,35),rgba(255,255,255,0))]"
></div>
<main class="flex items-center flex-col min-h-screen py-[150px] gap-y-[50px]">
  <div>
    <app-angular-logo />
  </div>
  <h1 class="text-5xl font-bold">Ngx Heatmap Calendar</h1>
  <p class="text-sm">
    This is a library for angular to display values by date, based on Github
    contribution history.
  </p>

  <ngx-heatmap-calendar
    [startDate]="startDate"
    [endDate]="endDate"
    [dates]="dates"
    [classForValue]="callBackCssClass"
    (onClickCell)="onClickCell($event)"
  />
  <a
    href="https://github.com/cjosue15/ngx-heatmap-calendar"
    target="_blank"
    class="inline-flex cursor-pointer items-center justify-center gap-x-2 rounded-md text-sm font-medium transition-colors bg-white text-black hover:bg-white/90 h-10 px-4 py-2"
  >
    Go to Github
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-arrow-up-right"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M17 7l-10 10" />
      <path d="M8 7l9 0l0 9" />
    </svg>
  </a>
</main>
